In [9]:
# Tuple: order, immutable, allows duplicate elements
mytuple = ("Max",28,"Boston")
print(mytuple)

('Max', 28, 'Boston')

In [3]:
mytuple = ("Max")
print(type(mytuple))

<class 'str'>

In [4]:
# create tuple with tuple()
mytuple = tuple(['Max'])
print(type(mytuple))

<class 'tuple'>

In [5]:
# cann't index out of range it consists of one element
item = mytuple[1]
print(item)

IndexError: tuple index out of range

In [6]:
item = mytuple[-2]
print(item)

IndexError: tuple index out of range

In [7]:
# can't assignment a new element
mytuple[8] = 'Tim'

TypeError: 'tuple' object does not support item assignment

In [10]:
# iterate over a tuple
for i in mytuple:
    print(i)

Max
28
Boston

In [11]:
# Checking if an item is in a tuple or not
if "Max" in mytuple:
    print("Yes")
else:
    print("No")

Yes

In [12]:
# if we want to get the length of a tuple
mytuple = ('a','p','p','l','e')
print(len(mytuple))

5

In [13]:
# if we want to know how many times an item in a tuple
mytuple.count('p')

2

In [14]:
# and if we want to know the index of an item
mytuple.index('p')

1

In [15]:
# Converting tuple in to a list
my_list = list(mytuple)
my_list

['a', 'p', 'p', 'l', 'e']

In [16]:
# Converting list into a tuple
my_tuple = tuple(my_list)
my_tuple

('a', 'p', 'p', 'l', 'e')

In [18]:
# Slicing
a = (1, 2, 3, 4, 5 ,6, 7, 8, 9)
b = a[1:5]
b

(2, 3, 4, 5)

In [19]:
# Slicing with step 2
b = a[::2]
b

(1, 3, 5, 7, 9)

In [20]:
# reverse a tuple
b = a[::-1]
b

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [21]:
# unpacking
my_tuple = ("Max",28,"Boston")
name, age, city = my_tuple
print(name)
print(age)
print(city)

Max
28
Boston

In [22]:
# if i want a group of element in one variable like that 
my_tuple = (0,1,2,3,4)
i1,*i2,i3 = my_tuple
print(i1)
print(i2)
print(i3)

0
[1, 2, 3]
4

In [23]:
# Comparing between a tuple and list
import sys
my_list=[0, 1, 2, "hello", True]
my_tuple=(0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

104 bytes
80 bytes

In [25]:
# Time
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]",number=100000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)",number=100000))
# Take much longer in list

0.005487099988386035
0.0007767999777570367